<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><h4>{{anuncio.titulo}}</h4></div>
    </div>
    <div class="panel-body">
    	<div class="col-md-12">
	        <p><img width="100%" class="img-responsive" src="/img/{{anuncio.imagem}}"/></p>
	        <p>{{anuncio.descricao}}</p>
        </div>
        <div class="col-md-6">
	        <p><strong>Preço: <span class="zf-green">{{currencyFormat(anuncio.preco, 'BRL', null, 'pt_BR')}}</span></strong></p>
        </div>
        <div class="col-md-6">
        	<div class="form-group">
        		{% if acesso('comprar') %}
	        		<a href="/comprar/{{anuncio.id}}" id="buttonGoComprar-{{anuncio.id}}" class="form-control btn btn-success">Comprar</a>
        		{% else %}
	        		<a href="#" id="buttonGoComprar-{{anuncio.id}}-disabled" class="form-control btn btn-success" disabled>Comprar</a>
        		{% endif %}
    		</div>
		</div>
    </div>
</div>
