{% extends 'admin/index/index' %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form accept-charset="UTF-8" action="/admin/anuncios/salvar/{{routeRedirect}}" method="post">
                <input type="hidden" name="id" value="{{anuncio.id}}">
                <div class="form-group" id="inputAnuncioTituloGroup">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon-titulo">Título</span>
                      <input id="inputAnuncioTitulo" name="titulo" value="{{anuncio.titulo}}" type="text" class="form-control" placeholder="Coloque aqui o título do anúncio" aria-describedby="sizing-addon-titulo">
                    </div>
                </div>
                <div class="form-group" id="inputAnuncioImagemGroup">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon-imagem"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></span>
                      <input id="inputAnuncioImagem" name="imagem" value="{{anuncio.imagem}}" type="text" class="form-control" placeholder="Coloque aqui o caminho do arquivo da imagem do anúncio" aria-describedby="sizing-addon-imagem">
                    </div>
                </div>
                <div class="form-group" id="inputAnuncioPrecoGroup">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon" id="sizing-addon-preco">R$</span>
                      <input id="inputAnuncioPreco" name="preco" value="{{anuncio.preco}}" type="text" class="form-control" placeholder="Escreva aqui o preço do anúncio" aria-describedby="sizing-addon-preco">
                    </div>
                </div>
                <div class="form-group" id="inputAnuncioDescricaoGroup">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon-descricao">Descrição</span>
                        <textarea id="inputAnuncioDescricao" name="descricao" class="form-control" rows="3" placeholder="Escreva aqui a descrição do anúncio" aria-describedby="sizing-addon-descricao">{{anuncio.descricao}}</textarea>
                    </div>
                </div>
                <div class="form-group">
	                <div class="row">
			            <div class="col-xs-12 col-sm-6 col-md-12">
						  	<button class="form-control btn btn-success pull-right btn-lg" type="submit" id="buttonAnuncioSalvar">Salvar</button>
					    </div>
	                </div>
                </div>
                {% if anuncio.id %}
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	                <div class="panel panel-default">
		                <div class="panel-heading" role="tab" id="headingAdvanced">
			                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAdvanced" aria-expanded="true" aria-controls="collapseAdvanced">
					 	       <h4><p class="text-center">Avançado (crítico)</p></h4>
	        				</a>
			    	    </div>
		 		        <div id="collapseAdvanced" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAdvanced">
					        <div class="panel-body">
				                <div class="form-group">
					                <a class="form-control btn btn-danger pull-right btn-lg" type="button" id="buttonAnuncioRemover" href="/admin/anuncios/remover/{{anuncio.id}}/{{routeRedirect}}">Remover</a>
				                </div>
			                </div>
		                </div>
	                </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/admin/anuncio/validation.js"></script>
{% endblock %}
