{% extends 'admin/index/index' %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row">
	  <div class="col-xs-12 col-sm-6 col-md-12">
	  <div class="panel panel-default">
	    <div class="panel-heading text-right"><strong>Receita Total</strong></div>
		  <div class="panel-body">
			  <p class="text-right"><strong><span class="zf-green">{{currencyFormat(total, 'BRL', null, 'pt_BR')}}</span></strong></p>
		  </div>
		</div>
	  </div>
    </div>
    <div class="row">
        <div class="col-md-12">
			<div class="table-responsive">
		        <table class="table table-striped">
			        <thead>
				        <tr><th>#</th><th>Consumidor</th><th>Valor</th><th>Data</th></tr>
			        </thead>
			        <tbody>
			        {% for pagamento in pagamentos %}
				        <tr><td>{{pagamento.id}}</td><td>{{pagamento.autenticacao.usuario}}</td><td>{{currencyFormat(pagamento.valor, 'BRL', null, 'pt_BR')}}</td><td>{{pagamento.data.format('H:i:s d/m/Y')}}</td></tr>
			        {% endfor %}
			        </tbody>
		        </table>
	        </div>
    	</div>
    </div>
</div>
{% endblock %}
