{% extends 'layout/layout.twig' %}
{% block nomeSite %}{{site.nome}}{% endblock nomeSite %}
{% block logoSite %}{{site.logo}}{% endblock logoSite %}
{% block conteudo %}
<div class="jumbotron">
    <h1>Bem Vindo ao <span class="zf-green">{{site.nome}}</span></h1>
    <p>Confira abaixo os anúncios disponíveis para você.</p>
</div>

<div class="row">
    <div class="col-md-4">
        {% for anuncio in anuncios.coluna1 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{anuncio.titulo}}</h3>
            </div>
            <div class="panel-body">
                <p><img width="330" src="/img/{{anuncio.imagem}}"/></p>
                <p>{{anuncio.descricao}}</p>
                <p><strong>Preço: <span class="zf-green">{{real_format(anuncio.preco)}}</span></strong></p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-4">
        {% for anuncio in anuncios.coluna2 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{anuncio.titulo}}</h3>
            </div>
            <div class="panel-body">
                <p><img width="330" src="/img/{{anuncio.imagem}}"/></p>
                <p>{{anuncio.descricao}}</p>
                <p><strong>Preço: <span class="zf-green">{{real_format(anuncio.preco)}}</span></strong></p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-4">
        {% for anuncio in anuncios.coluna3 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{anuncio.titulo}}</h3>
            </div>
            <div class="panel-body">
                <p><img width="330" src="/img/{{anuncio.imagem}}"/></p>
                <p>{{anuncio.descricao}}</p>
                <p><strong>Preço: <span class="zf-green">{{real_format(anuncio.preco)}}</span></strong></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock conteudo %}
{% block copyright %}{{site.copyright}}{% endblock copyright %}
