{% extends 'admin/index/index' %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
			<div class="table-responsive">
		        <table class="table table-striped">
			        <thead>
				        <tr><th>#</th><th>Consumidor</th><th>Produto</th><th>Valor</th><th>Data</th></tr>
			        </thead>
			        <tbody>
			        {% for compra in compras %}
				        <tr><td>{{compra.id}}</td><td>{{compra.autenticacao.usuario}}</td><td>{{compra.anuncio.titulo}}</td><td>{{compra.anuncio.preco}}</td><td>{{compra.data.format('H:i:s d/m/Y')}}</td></tr>
			        {% endfor %}
			        </tbody>
		        </table>
	        </div>
    	</div>
    </div>
</div>
{% endblock %}
